@font-face{
	font-family: "Mija";
	src: url(Mija/Mija-Regular.woff2);
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: "Mija";
	src: url(Mija/Mija-Bold.woff2);
	font-style: bold;
	font-weight: 600;
}

@font-face{
	font-family: "Sailec";
	src: url(Sailec/Sailec-Light.woff2);
	font-style: normal;
	font-weight: 300;
}

@font-face{
	font-family: "Sailec";
	src: url(Sailec/Sailec-Medium.woff2);
	font-weight: 600;
}

@font-face{
	font-family: "Sailec";
	src: url(Sailec/Sailec-Bold.woff2);
	font-style: bold;
	font-weight: 700;
}